<?xml version="1.0" encoding="UTF-8"?>
<root>
    <texts question="Choose %1"
           result="Your result is %1%. Your average answer speed is %2 ms." />
    <image_types>
        <type text="Text Editor" directory="editors" />
        <type text="OS Distro" directory="distros" />
    </image_types>
    <time_to_choose time="3000" />
    <max_questions number="2" />
    <image_size width="6" height="5" />
</root>
